C#DesktopToArduinoSerialInterface/DesktopToArduinoSerialInterface/Service References/TfsBuildWebService/BuildService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Team Foundation Build web service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03">
      <s:element name="AddBuildDefinitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="definitions" type="tns:ArrayOfBuildDefinition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuildDefinition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildDefinition" nillable="true" type="tns:BuildDefinition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildDefinition">
        <s:complexContent mixed="false">
          <s:extension base="tns:BuildGroupItem">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WorkspaceTemplate" type="tns:WorkspaceTemplate" />
              <s:element minOccurs="0" maxOccurs="1" name="Process" type="tns:ProcessTemplate" />
              <s:element minOccurs="0" maxOccurs="1" name="ProcessParameters" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RetentionPolicies" type="tns:ArrayOfRetentionPolicy" />
              <s:element minOccurs="0" maxOccurs="1" name="Schedules" type="tns:ArrayOfSchedule" />
            </s:sequence>
            <s:attribute name="BuildControllerUri" type="s:string" />
            <s:attribute name="DefaultDropLocation" type="s:string" />
            <s:attribute default="None" name="ContinuousIntegrationType" type="tns:ContinuousIntegrationType" />
            <s:attribute name="ContinuousIntegrationQuietPeriod" type="s:int" use="required" />
            <s:attribute name="LastBuildUri" type="s:string" />
            <s:attribute name="LastGoodBuildUri" type="s:string" />
            <s:attribute name="LastGoodBuildLabel" type="s:string" />
            <s:attribute name="Enabled" type="s:boolean" use="required" />
            <s:attribute name="DefaultBuildAgentUri" type="s:string" />
            <s:attribute name="ConfigurationFolderUri" type="s:string" />
            <s:attribute name="MaxTimeout" type="s:int" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BuildGroupItem" abstract="true">
        <s:attribute name="Uri" type="s:string" />
        <s:attribute name="FullPath" type="s:string" />
      </s:complexType>
      <s:complexType name="WorkspaceTemplate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mappings" type="tns:ArrayOfWorkspaceMapping" />
        </s:sequence>
        <s:attribute name="DefinitionUri" type="s:string" />
        <s:attribute name="LastModifiedDate" type="s:dateTime" use="required" />
        <s:attribute name="LastModifiedBy" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfWorkspaceMapping">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkspaceMapping" nillable="true" type="tns:WorkspaceMapping" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkspaceMapping">
        <s:attribute name="ServerItem" type="s:string" />
        <s:attribute name="LocalItem" type="s:string" />
        <s:attribute default="Map" name="MappingType" type="tns:WorkspaceMappingType" />
        <s:attribute default="120" name="Depth" type="s:int" />
      </s:complexType>
      <s:simpleType name="WorkspaceMappingType">
        <s:restriction base="s:string">
          <s:enumeration value="Map" />
          <s:enumeration value="Cloak" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ProcessTemplate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileExists" type="s:boolean" />
        </s:sequence>
        <s:attribute name="TeamProject" type="s:string" />
        <s:attribute name="ServerPath" type="s:string" />
        <s:attribute name="Description" type="s:string" />
        <s:attribute default="Manual IndividualCI BatchedCI Schedule ScheduleForced UserCreated" name="SupportedReasons" type="tns:BuildReason" />
        <s:attribute default="Custom" name="TemplateType" type="tns:ProcessTemplateType" />
        <s:attribute default="-1" name="Id" type="s:int" />
      </s:complexType>
      <s:simpleType name="BuildReason">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="Manual" />
              <s:enumeration value="IndividualCI" />
              <s:enumeration value="BatchedCI" />
              <s:enumeration value="Schedule" />
              <s:enumeration value="ScheduleForced" />
              <s:enumeration value="UserCreated" />
              <s:enumeration value="ValidateShelveset" />
              <s:enumeration value="CheckInShelveset" />
              <s:enumeration value="Triggered" />
              <s:enumeration value="All" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="ProcessTemplateType">
        <s:restriction base="s:string">
          <s:enumeration value="Custom" />
          <s:enumeration value="Default" />
          <s:enumeration value="Upgrade" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfRetentionPolicy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RetentionPolicy" nillable="true" type="tns:RetentionPolicy" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RetentionPolicy">
        <s:attribute default="All" name="BuildReason" type="tns:BuildReason" />
        <s:attribute name="BuildStatus" type="tns:BuildStatus" use="required" />
        <s:attribute name="NumberToKeep" type="s:int" use="required" />
        <s:attribute default="All" name="DeleteOptions" type="tns:DeleteOptions" />
      </s:complexType>
      <s:simpleType name="BuildStatus">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="InProgress" />
              <s:enumeration value="Succeeded" />
              <s:enumeration value="PartiallySucceeded" />
              <s:enumeration value="Failed" />
              <s:enumeration value="Stopped" />
              <s:enumeration value="NotStarted" />
              <s:enumeration value="All" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="DeleteOptions">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="DropLocation" />
              <s:enumeration value="TestResults" />
              <s:enumeration value="Label" />
              <s:enumeration value="Details" />
              <s:enumeration value="Symbols" />
              <s:enumeration value="All" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:complexType name="ArrayOfSchedule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Schedule">
        <s:attribute name="TimeZoneId" type="s:string" />
        <s:attribute name="UtcStartTime" type="s:int" use="required" />
        <s:attribute name="UtcDaysToBuild" type="tns:ScheduleDays" use="required" />
      </s:complexType>
      <s:simpleType name="ScheduleDays">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="Monday" />
              <s:enumeration value="Tuesday" />
              <s:enumeration value="Wednesday" />
              <s:enumeration value="Thursday" />
              <s:enumeration value="Friday" />
              <s:enumeration value="Saturday" />
              <s:enumeration value="Sunday" />
              <s:enumeration value="All" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:simpleType name="ContinuousIntegrationType">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="Individual" />
              <s:enumeration value="Batch" />
              <s:enumeration value="Schedule" />
              <s:enumeration value="ScheduleForced" />
              <s:enumeration value="Gated" />
              <s:enumeration value="All" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:element name="AddBuildDefinitionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBuildDefinitionsResult" type="tns:ArrayOfBuildDefinition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBuildQualities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teamProject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qualities" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddBuildQualitiesResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddProcessTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processTemplates" type="tns:ArrayOfProcessTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProcessTemplate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProcessTemplate" nillable="true" type="tns:ProcessTemplate" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddProcessTemplatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddProcessTemplatesResult" type="tns:ArrayOfProcessTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBuildDefinitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uris" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBuildDefinitionsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteBuildQualities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teamProject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qualities" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBuildQualitiesResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteBuilds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uris" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="deleteOptions" type="tns:DeleteOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBuildsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteBuildsResult" type="tns:ArrayOfBuildDeletionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuildDeletionResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildDeletionResult" nillable="true" type="tns:BuildDeletionResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildDeletionResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LabelFailure" type="tns:Failure" />
          <s:element minOccurs="0" maxOccurs="1" name="DropLocationFailure" type="tns:Failure" />
          <s:element minOccurs="0" maxOccurs="1" name="TestResultFailure" type="tns:Failure" />
          <s:element minOccurs="0" maxOccurs="1" name="SymbolsFailure" type="tns:Failure" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Failure">
        <s:attribute name="Code" type="s:string" />
        <s:attribute name="Message" type="s:string" />
      </s:complexType>
      <s:element name="DestroyBuilds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uris" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DestroyBuildsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteProcessTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processTemplateIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteProcessTemplatesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAffectedBuildDefinitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverItems" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="continuousIntegrationType" type="tns:ContinuousIntegrationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAffectedBuildDefinitionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAffectedBuildDefinitionsResult" type="tns:ArrayOfBuildDefinition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBuildQualities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teamProject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBuildQualitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBuildQualitiesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryProcessTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teamProject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queryTypes" type="tns:ArrayOfProcessTemplateType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProcessTemplateType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProcessTemplateType" type="tns:ProcessTemplateType" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryProcessTemplatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryProcessTemplatesResult" type="tns:ArrayOfProcessTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyBuildCompleted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buildUri" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyBuildCompletedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyBuildCompletedResult" type="tns:BuildDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BuildDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProcessParameters" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Information" type="tns:ArrayOfBuildInformationNode" />
        </s:sequence>
        <s:attribute name="Uri" type="s:string" />
        <s:attribute name="TeamProject" type="s:string" />
        <s:attribute name="BuildNumber" type="s:string" />
        <s:attribute name="BuildDefinitionUri" type="s:string" />
        <s:attribute name="StartTime" type="s:dateTime" use="required" />
        <s:attribute name="FinishTime" type="s:dateTime" use="required" />
        <s:attribute default="Manual" name="Reason" type="tns:BuildReason" />
        <s:attribute name="Status" type="tns:BuildStatus" use="required" />
        <s:attribute name="Quality" type="s:string" />
        <s:attribute name="CompilationStatus" type="tns:BuildPhaseStatus" use="required" />
        <s:attribute name="TestStatus" type="tns:BuildPhaseStatus" use="required" />
        <s:attribute name="DropLocation" type="s:string" />
        <s:attribute name="DropLocationRoot" type="s:string" />
        <s:attribute name="LogLocation" type="s:string" />
        <s:attribute name="BuildControllerUri" type="s:string" />
        <s:attribute name="SourceGetVersion" type="s:string" />
        <s:attribute name="RequestedFor" type="s:string" />
        <s:attribute name="RequestedBy" type="s:string" />
        <s:attribute name="LastChangedOn" type="s:dateTime" use="required" />
        <s:attribute name="LastChangedBy" type="s:string" />
        <s:attribute name="KeepForever" type="s:boolean" use="required" />
        <s:attribute name="LabelName" type="s:string" />
        <s:attribute name="ShelvesetName" type="s:string" />
        <s:attribute name="IsDeleted" type="s:boolean" use="required" />
        <s:attribute name="BuildAgentUri" type="s:string" />
        <s:attribute name="ConfigurationFolderUri" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfBuildInformationNode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildInformationNode" nillable="true" type="tns:BuildInformationNode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildInformationNode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfInformationField" />
        </s:sequence>
        <s:attribute name="NodeId" type="s:int" use="required" />
        <s:attribute name="ParentId" type="s:int" use="required" />
        <s:attribute name="Type" type="s:string" />
        <s:attribute name="LastModifiedDate" type="s:dateTime" use="required" />
        <s:attribute name="LastModifiedBy" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfInformationField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InformationField" nillable="true" type="tns:InformationField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InformationField">
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="Value" type="s:string" />
      </s:complexType>
      <s:simpleType name="BuildPhaseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Failed" />
          <s:enumeration value="Succeeded" />
        </s:restriction>
      </s:simpleType>
      <s:element name="QueryBuildDefinitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="specs" type="tns:ArrayOfBuildDefinitionSpec" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuildDefinitionSpec">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildDefinitionSpec" nillable="true" type="tns:BuildDefinitionSpec" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildDefinitionSpec">
        <s:complexContent mixed="false">
          <s:extension base="tns:BuildGroupItemSpec">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" default="All" name="ContinuousIntegrationType" type="tns:ContinuousIntegrationType" />
              <s:element minOccurs="0" maxOccurs="1" default="All" name="Options" type="tns:QueryOptions" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BuildGroupItemSpec" abstract="true">
        <s:attribute name="FullPath" type="s:string" />
      </s:complexType>
      <s:complexType name="BuildAgentSpec">
        <s:complexContent mixed="false">
          <s:extension base="tns:BuildGroupItemSpec">
            <s:attribute name="MachineName" type="s:string" />
            <s:attribute name="Port" type="s:int" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="QueryOptions">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="Definitions" />
              <s:enumeration value="Agents" />
              <s:enumeration value="Workspaces" />
              <s:enumeration value="Controllers" />
              <s:enumeration value="Process" />
              <s:enumeration value="All" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:element name="QueryBuildDefinitionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryBuildDefinitionsResult" type="tns:ArrayOfBuildDefinitionQueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuildDefinitionQueryResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildDefinitionQueryResult" nillable="true" type="tns:BuildDefinitionQueryResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildDefinitionQueryResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:BuildAdministrationQueryResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Definitions" type="tns:ArrayOfBuildDefinition" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BuildAdministrationQueryResult" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:QueryResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Agents" type="tns:ArrayOfBuildAgent" />
              <s:element minOccurs="0" maxOccurs="1" name="Controllers" type="tns:ArrayOfBuildController" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceHosts" type="tns:ArrayOfBuildServiceHost" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="QueryResult" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Failures" type="tns:ArrayOfFailure" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFailure">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Failure" nillable="true" type="tns:Failure" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBuildAgent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildAgent" nillable="true" type="tns:BuildAgent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildAgent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tags" type="tns:ArrayOfString" />
        </s:sequence>
        <s:attribute name="Uri" type="s:string" />
        <s:attribute name="ServiceHostUri" type="s:string" />
        <s:attribute name="ControllerUri" type="s:string" />
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="BuildDirectory" type="s:string" />
        <s:attribute default="Unavailable" name="Status" type="tns:AgentStatus" />
        <s:attribute name="StatusMessage" type="s:string" />
        <s:attribute name="Enabled" type="s:boolean" use="required" />
        <s:attribute name="Url" type="s:string" />
        <s:attribute name="DateCreated" type="s:dateTime" use="required" />
        <s:attribute name="DateUpdated" type="s:dateTime" use="required" />
        <s:attribute name="ReservedForBuild" type="s:string" />
      </s:complexType>
      <s:simpleType name="AgentStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Unavailable" />
          <s:enumeration value="Available" />
          <s:enumeration value="Offline" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfBuildController">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildController" nillable="true" type="tns:BuildController" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildController">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tags" type="tns:ArrayOfString" />
        </s:sequence>
        <s:attribute name="Uri" type="s:string" />
        <s:attribute name="ServiceHostUri" type="s:string" />
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="CustomAssemblyPath" type="s:string" />
        <s:attribute name="MaxConcurrentBuilds" type="s:int" use="required" />
        <s:attribute name="QueueCount" type="s:int" use="required" />
        <s:attribute default="Unavailable" name="Status" type="tns:ControllerStatus" />
        <s:attribute name="StatusMessage" type="s:string" />
        <s:attribute name="Enabled" type="s:boolean" use="required" />
        <s:attribute name="Url" type="s:string" />
        <s:attribute name="DateCreated" type="s:dateTime" use="required" />
        <s:attribute name="DateUpdated" type="s:dateTime" use="required" />
      </s:complexType>
      <s:simpleType name="ControllerStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Unavailable" />
          <s:enumeration value="Available" />
          <s:enumeration value="Offline" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfBuildServiceHost">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildServiceHost" nillable="true" type="tns:BuildServiceHost" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildServiceHost">
        <s:attribute name="Uri" type="s:string" />
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="BaseUrl" type="s:string" />
        <s:attribute name="RequireClientCertificates" type="s:boolean" use="required" />
      </s:complexType>
      <s:element name="QueryBuildDefinitionsByUri">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uris" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="options" type="tns:QueryOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryBuildDefinitionsByUriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryBuildDefinitionsByUriResult" type="tns:BuildDefinitionQueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryBuilds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="specs" type="tns:ArrayOfBuildDetailSpec" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuildDetailSpec">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildDetailSpec" nillable="true" type="tns:BuildDetailSpec" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildDetailSpec">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" name="DefinitionSpec" type="tns:BuildDefinitionSpec" />
            <s:element minOccurs="0" maxOccurs="1" name="DefinitionUris" type="tns:ArrayOfString" />
          </s:choice>
          <s:element minOccurs="0" maxOccurs="1" name="InformationTypes" type="tns:ArrayOfString" />
        </s:sequence>
        <s:attribute name="BuildNumber" type="s:string" />
        <s:attribute name="MinFinishTime" type="s:dateTime" use="required" />
        <s:attribute name="MaxFinishTime" type="s:dateTime" use="required" />
        <s:attribute name="MinChangedTime" type="s:dateTime" use="required" />
        <s:attribute name="Status" type="tns:BuildStatus" use="required" />
        <s:attribute default="All" name="Reason" type="tns:BuildReason" />
        <s:attribute name="Quality" type="s:string" />
        <s:attribute default="None" name="QueryOptions" type="tns:QueryOptions" />
        <s:attribute default="StartTimeAscending" name="QueryOrder" type="tns:BuildQueryOrder" />
        <s:attribute name="RequestedFor" type="s:string" />
        <s:attribute default="2147483647" name="MaxBuildsPerDefinition" type="s:int" />
        <s:attribute default="ExcludeDeleted" name="QueryDeletedOption" type="tns:QueryDeletedOption" />
        <s:attribute name="DefinitionPath" type="s:string" />
      </s:complexType>
      <s:simpleType name="BuildQueryOrder">
        <s:restriction base="s:string">
          <s:enumeration value="StartTimeAscending" />
          <s:enumeration value="StartTimeDescending" />
          <s:enumeration value="FinishTimeAscending" />
          <s:enumeration value="FinishTimeDescending" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="QueryDeletedOption">
        <s:restriction base="s:string">
          <s:enumeration value="ExcludeDeleted" />
          <s:enumeration value="IncludeDeleted" />
          <s:enumeration value="OnlyDeleted" />
        </s:restriction>
      </s:simpleType>
      <s:element name="QueryBuildsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryBuildsResult" type="tns:ArrayOfBuildQueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuildQueryResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildQueryResult" nillable="true" type="tns:BuildQueryResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildQueryResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Definitions" type="tns:ArrayOfBuildDefinition" />
          <s:element minOccurs="0" maxOccurs="1" name="Builds" type="tns:ArrayOfBuildDetail" />
          <s:element minOccurs="0" maxOccurs="1" name="Controllers" type="tns:ArrayOfBuildController" />
          <s:element minOccurs="0" maxOccurs="1" name="Agents" type="tns:ArrayOfBuildAgent" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceHosts" type="tns:ArrayOfBuildServiceHost" />
          <s:element minOccurs="0" maxOccurs="1" name="Failures" type="tns:ArrayOfFailure" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBuildDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildDetail" nillable="true" type="tns:BuildDetail" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryBuildsByUri">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uris" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="informationTypes" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="options" type="tns:QueryOptions" />
            <s:element minOccurs="1" maxOccurs="1" name="deletedOption" type="tns:QueryDeletedOption" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryBuildsByUriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryBuildsByUriResult" type="tns:BuildQueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopBuilds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uris" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopBuildsResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateBuildDefinitions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updates" type="tns:ArrayOfBuildDefinition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBuildDefinitionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBuildDefinitionsResult" type="tns:ArrayOfBuildDefinition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBuildInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changes" type="tns:ArrayOfInformationChangeRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInformationChangeRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InformationChangeRequest" nillable="true" type="tns:InformationChangeRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InformationChangeRequest" abstract="true">
        <s:attribute name="BuildUri" type="s:string" />
      </s:complexType>
      <s:complexType name="InformationDeleteRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:InformationChangeRequest">
            <s:attribute name="NodeId" type="s:int" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="InformationEditRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:InformationChangeRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfInformationField" />
            </s:sequence>
            <s:attribute name="NodeId" type="s:int" use="required" />
            <s:attribute default="MergeFields" name="Options" type="tns:InformationEditOptions" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="InformationEditOptions">
        <s:restriction base="s:string">
          <s:enumeration value="MergeFields" />
          <s:enumeration value="ReplaceFields" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="InformationAddRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:InformationChangeRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfInformationField" />
            </s:sequence>
            <s:attribute name="NodeType" type="s:string" />
            <s:attribute name="NodeId" type="s:int" use="required" />
            <s:attribute name="ParentId" type="s:int" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="UpdateBuildInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBuildInformationResult" type="tns:ArrayOfBuildInformationNode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBuilds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateOptions" type="tns:ArrayOfBuildUpdateOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuildUpdateOptions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildUpdateOptions" nillable="true" type="tns:BuildUpdateOptions" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildUpdateOptions">
        <s:attribute name="Uri" type="s:string" />
        <s:attribute name="Fields" type="tns:BuildUpdate" use="required" />
        <s:attribute name="BuildNumber" type="s:string" />
        <s:attribute name="DropLocation" type="s:string" />
        <s:attribute name="LabelName" type="s:string" />
        <s:attribute name="LogLocation" type="s:string" />
        <s:attribute name="Status" type="tns:BuildStatus" use="required" />
        <s:attribute name="Quality" type="s:string" />
        <s:attribute name="CompilationStatus" type="tns:BuildPhaseStatus" use="required" />
        <s:attribute name="TestStatus" type="tns:BuildPhaseStatus" use="required" />
        <s:attribute name="KeepForever" type="s:boolean" use="required" />
        <s:attribute name="SourceGetVersion" type="s:string" />
      </s:complexType>
      <s:simpleType name="BuildUpdate">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="BuildNumber" />
              <s:enumeration value="DropLocation" />
              <s:enumeration value="LabelName" />
              <s:enumeration value="LogLocation" />
              <s:enumeration value="Status" />
              <s:enumeration value="Quality" />
              <s:enumeration value="CompilationStatus" />
              <s:enumeration value="TestStatus" />
              <s:enumeration value="KeepForever" />
              <s:enumeration value="SourceGetVersion" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:element name="UpdateBuildsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBuildsResult" type="tns:ArrayOfBuildDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProcessTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="processTemplates" type="tns:ArrayOfProcessTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProcessTemplatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateProcessTemplatesResult" type="tns:ArrayOfProcessTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTeamProjectComponents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectUri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="permissions" type="tns:ArrayOfBuildTeamProjectPermission" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBuildTeamProjectPermission">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BuildTeamProjectPermission" nillable="true" type="tns:BuildTeamProjectPermission" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuildTeamProjectPermission">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Allows" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Denies" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateTeamProjectComponentsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddBuildDefinitionsSoapIn">
    <wsdl:part name="parameters" element="tns:AddBuildDefinitions" />
  </wsdl:message>
  <wsdl:message name="AddBuildDefinitionsSoapOut">
    <wsdl:part name="parameters" element="tns:AddBuildDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="AddBuildQualitiesSoapIn">
    <wsdl:part name="parameters" element="tns:AddBuildQualities" />
  </wsdl:message>
  <wsdl:message name="AddBuildQualitiesSoapOut">
    <wsdl:part name="parameters" element="tns:AddBuildQualitiesResponse" />
  </wsdl:message>
  <wsdl:message name="AddProcessTemplatesSoapIn">
    <wsdl:part name="parameters" element="tns:AddProcessTemplates" />
  </wsdl:message>
  <wsdl:message name="AddProcessTemplatesSoapOut">
    <wsdl:part name="parameters" element="tns:AddProcessTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBuildDefinitionsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBuildDefinitions" />
  </wsdl:message>
  <wsdl:message name="DeleteBuildDefinitionsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBuildDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBuildQualitiesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBuildQualities" />
  </wsdl:message>
  <wsdl:message name="DeleteBuildQualitiesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBuildQualitiesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBuildsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBuilds" />
  </wsdl:message>
  <wsdl:message name="DeleteBuildsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBuildsResponse" />
  </wsdl:message>
  <wsdl:message name="DestroyBuildsSoapIn">
    <wsdl:part name="parameters" element="tns:DestroyBuilds" />
  </wsdl:message>
  <wsdl:message name="DestroyBuildsSoapOut">
    <wsdl:part name="parameters" element="tns:DestroyBuildsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProcessTemplatesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProcessTemplates" />
  </wsdl:message>
  <wsdl:message name="DeleteProcessTemplatesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProcessTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAffectedBuildDefinitionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAffectedBuildDefinitions" />
  </wsdl:message>
  <wsdl:message name="GetAffectedBuildDefinitionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAffectedBuildDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBuildQualitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetBuildQualities" />
  </wsdl:message>
  <wsdl:message name="GetBuildQualitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetBuildQualitiesResponse" />
  </wsdl:message>
  <wsdl:message name="QueryProcessTemplatesSoapIn">
    <wsdl:part name="parameters" element="tns:QueryProcessTemplates" />
  </wsdl:message>
  <wsdl:message name="QueryProcessTemplatesSoapOut">
    <wsdl:part name="parameters" element="tns:QueryProcessTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyBuildCompletedSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyBuildCompleted" />
  </wsdl:message>
  <wsdl:message name="NotifyBuildCompletedSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyBuildCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="QueryBuildDefinitionsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryBuildDefinitions" />
  </wsdl:message>
  <wsdl:message name="QueryBuildDefinitionsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryBuildDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryBuildDefinitionsByUriSoapIn">
    <wsdl:part name="parameters" element="tns:QueryBuildDefinitionsByUri" />
  </wsdl:message>
  <wsdl:message name="QueryBuildDefinitionsByUriSoapOut">
    <wsdl:part name="parameters" element="tns:QueryBuildDefinitionsByUriResponse" />
  </wsdl:message>
  <wsdl:message name="QueryBuildsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryBuilds" />
  </wsdl:message>
  <wsdl:message name="QueryBuildsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryBuildsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryBuildsByUriSoapIn">
    <wsdl:part name="parameters" element="tns:QueryBuildsByUri" />
  </wsdl:message>
  <wsdl:message name="QueryBuildsByUriSoapOut">
    <wsdl:part name="parameters" element="tns:QueryBuildsByUriResponse" />
  </wsdl:message>
  <wsdl:message name="StopBuildsSoapIn">
    <wsdl:part name="parameters" element="tns:StopBuilds" />
  </wsdl:message>
  <wsdl:message name="StopBuildsSoapOut">
    <wsdl:part name="parameters" element="tns:StopBuildsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBuildDefinitionsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBuildDefinitions" />
  </wsdl:message>
  <wsdl:message name="UpdateBuildDefinitionsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBuildDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBuildInformationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBuildInformation" />
  </wsdl:message>
  <wsdl:message name="UpdateBuildInformationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBuildInformationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBuildsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBuilds" />
  </wsdl:message>
  <wsdl:message name="UpdateBuildsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBuildsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProcessTemplatesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProcessTemplates" />
  </wsdl:message>
  <wsdl:message name="UpdateProcessTemplatesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProcessTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTeamProjectComponentsSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTeamProjectComponents" />
  </wsdl:message>
  <wsdl:message name="CreateTeamProjectComponentsSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTeamProjectComponentsResponse" />
  </wsdl:message>
  <wsdl:portType name="BuildWebServiceSoap">
    <wsdl:operation name="AddBuildDefinitions">
      <wsdl:input message="tns:AddBuildDefinitionsSoapIn" />
      <wsdl:output message="tns:AddBuildDefinitionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBuildQualities">
      <wsdl:input message="tns:AddBuildQualitiesSoapIn" />
      <wsdl:output message="tns:AddBuildQualitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProcessTemplates">
      <wsdl:input message="tns:AddProcessTemplatesSoapIn" />
      <wsdl:output message="tns:AddProcessTemplatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBuildDefinitions">
      <wsdl:input message="tns:DeleteBuildDefinitionsSoapIn" />
      <wsdl:output message="tns:DeleteBuildDefinitionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBuildQualities">
      <wsdl:input message="tns:DeleteBuildQualitiesSoapIn" />
      <wsdl:output message="tns:DeleteBuildQualitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBuilds">
      <wsdl:input message="tns:DeleteBuildsSoapIn" />
      <wsdl:output message="tns:DeleteBuildsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DestroyBuilds">
      <wsdl:input message="tns:DestroyBuildsSoapIn" />
      <wsdl:output message="tns:DestroyBuildsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProcessTemplates">
      <wsdl:input message="tns:DeleteProcessTemplatesSoapIn" />
      <wsdl:output message="tns:DeleteProcessTemplatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAffectedBuildDefinitions">
      <wsdl:input message="tns:GetAffectedBuildDefinitionsSoapIn" />
      <wsdl:output message="tns:GetAffectedBuildDefinitionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildQualities">
      <wsdl:input message="tns:GetBuildQualitiesSoapIn" />
      <wsdl:output message="tns:GetBuildQualitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryProcessTemplates">
      <wsdl:input message="tns:QueryProcessTemplatesSoapIn" />
      <wsdl:output message="tns:QueryProcessTemplatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyBuildCompleted">
      <wsdl:input message="tns:NotifyBuildCompletedSoapIn" />
      <wsdl:output message="tns:NotifyBuildCompletedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryBuildDefinitions">
      <wsdl:input message="tns:QueryBuildDefinitionsSoapIn" />
      <wsdl:output message="tns:QueryBuildDefinitionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryBuildDefinitionsByUri">
      <wsdl:input message="tns:QueryBuildDefinitionsByUriSoapIn" />
      <wsdl:output message="tns:QueryBuildDefinitionsByUriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryBuilds">
      <wsdl:input message="tns:QueryBuildsSoapIn" />
      <wsdl:output message="tns:QueryBuildsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryBuildsByUri">
      <wsdl:input message="tns:QueryBuildsByUriSoapIn" />
      <wsdl:output message="tns:QueryBuildsByUriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StopBuilds">
      <wsdl:input message="tns:StopBuildsSoapIn" />
      <wsdl:output message="tns:StopBuildsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildDefinitions">
      <wsdl:input message="tns:UpdateBuildDefinitionsSoapIn" />
      <wsdl:output message="tns:UpdateBuildDefinitionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildInformation">
      <wsdl:input message="tns:UpdateBuildInformationSoapIn" />
      <wsdl:output message="tns:UpdateBuildInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuilds">
      <wsdl:input message="tns:UpdateBuildsSoapIn" />
      <wsdl:output message="tns:UpdateBuildsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProcessTemplates">
      <wsdl:input message="tns:UpdateProcessTemplatesSoapIn" />
      <wsdl:output message="tns:UpdateProcessTemplatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTeamProjectComponents">
      <wsdl:input message="tns:CreateTeamProjectComponentsSoapIn" />
      <wsdl:output message="tns:CreateTeamProjectComponentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BuildWebServiceSoap" type="tns:BuildWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBuildDefinitions">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/AddBuildDefinitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBuildQualities">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/AddBuildQualities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProcessTemplates">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/AddProcessTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBuildDefinitions">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DeleteBuildDefinitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBuildQualities">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DeleteBuildQualities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBuilds">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DeleteBuilds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyBuilds">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DestroyBuilds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProcessTemplates">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DeleteProcessTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAffectedBuildDefinitions">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/GetAffectedBuildDefinitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildQualities">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/GetBuildQualities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryProcessTemplates">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryProcessTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyBuildCompleted">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/NotifyBuildCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryBuildDefinitions">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryBuildDefinitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryBuildDefinitionsByUri">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryBuildDefinitionsByUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryBuilds">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryBuilds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryBuildsByUri">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryBuildsByUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopBuilds">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/StopBuilds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildDefinitions">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/UpdateBuildDefinitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildInformation">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/UpdateBuildInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuilds">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/UpdateBuilds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProcessTemplates">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/UpdateProcessTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTeamProjectComponents">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/CreateTeamProjectComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BuildWebServiceSoap12" type="tns:BuildWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBuildDefinitions">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/AddBuildDefinitions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBuildQualities">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/AddBuildQualities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProcessTemplates">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/AddProcessTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBuildDefinitions">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DeleteBuildDefinitions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBuildQualities">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DeleteBuildQualities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBuilds">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DeleteBuilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyBuilds">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DestroyBuilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProcessTemplates">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/DeleteProcessTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAffectedBuildDefinitions">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/GetAffectedBuildDefinitions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildQualities">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/GetBuildQualities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryProcessTemplates">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryProcessTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyBuildCompleted">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/NotifyBuildCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryBuildDefinitions">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryBuildDefinitions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryBuildDefinitionsByUri">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryBuildDefinitionsByUri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryBuilds">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryBuilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryBuildsByUri">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/QueryBuildsByUri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopBuilds">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/StopBuilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildDefinitions">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/UpdateBuildDefinitions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuildInformation">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/UpdateBuildInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuilds">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/UpdateBuilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProcessTemplates">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/UpdateProcessTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTeamProjectComponents">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Build/BuildService/03/CreateTeamProjectComponents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuildWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Team Foundation Build web service</wsdl:documentation>
    <wsdl:port name="BuildWebServiceSoap" binding="tns:BuildWebServiceSoap">
      <soap:address location="http://tfsprd:8080/tfs/_tfs_resources/Build/V3.0/BuildService.asmx" />
    </wsdl:port>
    <wsdl:port name="BuildWebServiceSoap12" binding="tns:BuildWebServiceSoap12">
      <soap12:address location="http://tfsprd:8080/tfs/_tfs_resources/Build/V3.0/BuildService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>